.Base-accordian {
  display: flex;
  flex-flow: column nowrap;
}

.Accordian-button {
  border: 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  transition: ease-in 100ms;
}

.Accordian-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.Accordian-reset {
  align-content: space-around;
  text-align: center;
}

.Accordian-container {
  display: contents;
}
