.Base-accordian {
  display: flex;
  flex-flow: column nowrap;
}

.Accordian-button {
  border: 0;
  border-radius: 0;
  background-color: var(--theme-primary-light);
  transition: ease-in 100ms;
  transform: translateY(0);
  fill-opacity: 0.4;
}
svg #hover-arrow {
  transform: translateY(0px);
  fill-opacity: 0;
  transition: fill-opacity transform 200ms ease-in;
}

.Accordian-button .closed {
  border-radius: 5px;
}

.Accordian-button:hover svg #hover-arrow {
  transform: translateY(5px);
  fill-opacity: 0.2;
}

.Accordian-button:hover svg #main-arrow {
  fill-opacity: 0.4;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.Accordian-reset {
  align-content: space-around;
  text-align: center;
}

.Accordian-container {
  display: contents;
}
